//colors

$primary--color:#011F5B;
$secondary--color:#00416A
$background--color: linear-gradient(90deg, hsla(43, 84%, 85%, 1) 0%, hsla(325, 71%, 70%, 1) 50%, hsla(236, 67%, 55%, 1) 100%);
$text--color: #000
$accent--color: #fff;
// $deep--navy__shade: #011F5B;
// $less--navy__shade: #00416A


//fonts

$main-font: 'lato', sans-serif;
// $secondary-font:  